data/
certs/
logs/
__pycache__/
.DS_Store
.env
tsl-2.xml
.dockerignore
data1/
1.yml
__init__.py
.devcontainer/.gitignore
.devcontainer/docker-compose.yml
.devcontainer/env.example
.devcontainer/QUICKSTART.md
.devcontainer/README.md
.devcontainer/start-dev.sh
